<pre>{{ peliculas | json }}</pre>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>Estreno</th>
      <th>Valoración</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of peliculas">
      <td>{{p.id | number:'3.0-0'}} {{p.id | euro:3}} {{p.id | currency:'EUR':'symbol':'1.2-2':'es'}}</td>
      <td>{{p.titulo}}</td>
      <td>{{p.descripcion | slice:0:30}}...</td>
      <td>{{p.estreno | date:'yyyy-MM-dd'}}</td>
      <td>{{p.valoracion | number:'1.2-2'}} {{p.valoracion | i18nPlural: mapa}}</td>
      <td>
        <a class="btn btn-primary" routerLink="/pelicula/{{p.id}}">Editar</a>
        <a class="btn btn-danger" (click)="borrar(p.id)">Borrar</a>
      </td>
    </tr>
  </tbody>
  <tfoot class="table-dark">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a class="btn btn-primary" routerLink="/pelicula/">Añadir</a>
      </td>
    </tr>
  </tfoot>
</table>
