<form>
  <app-label-input id="id" etiqueta="Id" [(campo)]="pelicula.id" tipo="number" [soloLectura]="true"></app-label-input>
  <app-label-input id="titulo" etiqueta="Título" [(campo)]="pelicula.titulo"></app-label-input>
  <app-label-input id="descripcion" etiqueta="Descripción" [(campo)]="pelicula.descripcion"></app-label-input>
  <app-label-input id="estreno" etiqueta="Estreno" [(campo)]="pelicula.estreno" tipo="date"></app-label-input>
  <app-label-input id="valoracion" etiqueta="Valoración" [(campo)]="pelicula.valoracion" tipo="number"></app-label-input>

  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-10">
      <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
    </div>
  </div>

</form>
